<div class="exercise-one-container">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="input">Please Input Here: </label>
                <textarea class="form-control" name="input" id="input" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="col-md-2 align-self-center text-center">
            <button class="btn btn-primary pr-3 pl-3">
              <i class="fas fa-caret-right"></i>
            </button>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="input">Result: </label>
                <textarea class="form-control" name="input" id="input" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>