<div class="marvel-container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <strong>All Marvels</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <app-loading [enable]="_data['loading']">
                            <table class="table table-bordered table-hover" cdArrowTable [collection]="_data['list_item']" [(selectedIndex)]="selectedIndex">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th colspan="2">Description</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of _data['list_item']; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td width="20%">
                                            {{ item.name }}
                                        </td>
                                        <td width="70%">
                                            {{ item.description | textTruncate }}
                                        </td>
                                        <td width="10%" class="align-middle" style="min-width: 100px;">
                                            <img width="100" class="img-thumbnail" [src]="[item.thumbnail.path, item.thumbnail.extension].join('.')" alt="{{ item.name }}">
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!_data['list_item'] || !_data['list_item']?.length">
                                    <tr class="text-center">
                                        <td colspan="100%">No data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </app-loading>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="_data['list_item']?.length">
        <div class="col-md-12">
            <div class="text-center">
                <ngb-pagination class="d-flex justify-content-center"  (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 1" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                    [rotate]="true" [disabled]="_data['loading']"  [ellipses]="false">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>